<div class="row">
    <div class="col-6">
        <p class="alert" [ngStyle]="{
            backgroundColor:isProductAvailable? 'blue':'grey' 
        }" 
        [ngClass]="{
            'text-white':isProductAvailable,
            'text-danger':!isProductAvailable
        }"> The product {{productName}} with Id {{productId}}
             <!-- <strong *ngIf="isProductAvailable ; else noproduct">product is available</strong>
            <ng-template #noproduct>
                <strong>product is available</strong> 
            </ng-template> -->
                <strong *ngIf="isProductAvailable">product is available</strong>
                <strong *ngIf="!isProductAvailable">product is not available</strong>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <input type="text" class="form-control" [value]="userName" >
        </div>
    </div>
</div>

<p  [innerHTML]="msg">
</p>









