<hr>
<h1 class="text-center">Component 4</h1>
<div class="row">
    <div class="col-md-6">
        <p class="alert alert-success">The product <strong>{{ productName }}</strong> is made by <strong>{{ brand
                }}</strong>.</p>

        <p class="alert alert-success">The product <strong>{{ product.name }}</strong> is made by <strong>{{
                product.brand }}</strong>
        </p>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let lang of languages">
                {{lang}}
            </li>
        </ul>
    </div>
</div>